<p>This is the partial for view 3.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>


<form name="myForm" ng-controller="View2Ctrl">
  <label>S3 Bucket Name:
    <input type="text" name="input" ng-model="s3bucket.text"
           ng-pattern="s3bucket.word" required ng-trim="true">
  </label>
  <label>S3 Key Name:
    <input type="text" name="input" ng-model="s3key.text"
           ng-pattern="s3key.word" required ng-trim="true">
  </label>



  <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <span class="error" ng-show="myForm.input.$error.pattern">
      Single word only!</span>
  </div>
  <code>text = {{s3bucket.text}}</code><br/>
  <code>text = {{s3key.text}}</code><br/>

  <code>myForm.input.$valid = {{myForm.input.$valid}}</code><br/>
  <code>myForm.input.$error = {{myForm.input.$error}}</code><br/>
  <code>myForm.$valid = {{myForm.$valid}}</code><br/>
  <code>myForm.$error.required = {{!!myForm.$error.required}}</code><br/>
</form>
